<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Fleet management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Fleet management</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/users">Пользователи</a>
        <a class="p-2 text-dark" href="/cars">Автомашины</a>
        <a class="p-2 text-dark" href="/feedback">Сообщения</a>
        <a class="p-2 text-dark" href="/texservice" >Техобслуживание</a>
        <a class="p-2 text-dark" href="/shina" >Шиномонтаж</a>
        <a class="p-2 text-dark" href="/maps" >Карта</a>
        <a class="p-2 text-dark" href="/options" >Настройки</a>

    </nav>
    <a class="btn btn-outline-primary" href="/google" hidden>Sign in</a>
</div>


</body>
</html>
