<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Fleet management</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .g-button{
            color: #fff !important;
            border: 1px solid #EA4335;
            background: #ea4335 !important;
            width:100%;
            font-weight: 600;
            color:#fff;
            padding: 8px 25px;
        }
        .fa-google:before {
            content: "\f1a0";
        }
    </style>
</head>
<body>

<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Авторизация</div>
            </div>

            <div style="padding-top:30px" class="panel-body" >

                <div class="form-group">
                    <a class="btn btn-block g-button" href="/auth/google">
                        <i class="fa fa-google"></i> Sign up with Google
                    </a>
                </div>



            </div>
        </div>
    </div>
</div>

</body>
</html>