<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        th, td{
            border: black 1px solid;
        }
    </style>
</head>
<body>
    <table cellspacing="0px">
        <thead>
            <tr>
                <th width="50px">#</th>
                <th width="100px">Госномер</th>
                <th width="100px">Осаго</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</body>
</html>